<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Index Page</h1>
    <a href="/users/useradd">User add</a><p>
    <a href="/posts/postadd">User Post</a>
  </body>
</html>
